body{
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(149, 149, 149) , rgb(0, 0, 0));
}

.row{
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
}

.col{
    align-content: center;
    text-align: center;
}

.btn{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-radius: 100px;
}

#gif{
    position: relative;
    top: -290px;
    border-radius: 10px;
}

#time-remaining{
    font-family: 'Roboto', sans-serif;
}

#question{
    font-family: 'Lato', sans-serif;
}